:root{
    --color-dark-mode: white;
}


    
.dark-mode h1 {
    color: var(--color-dark-mode);
}
.dark-mode #sideBarBtn{
    /* color: var(--color-dark-mode) !important; */
    color: white;
}
.dark-mode .step-txt{
    color: var(--color-dark-mode) ;
}
.dark-mode .page-container{
    color: var(--color-dark-mode);
}


.dark-mode .item,
.dark-mode .videos-container a{
    color: whitesmoke;
}
.dark-mode .main-content {
    background-color: rgb(31, 31, 29);
}
