:root{
    --color-dark-mode: white;
}
.dark-mode .main-content{

background: linear-gradient(135deg,
  #020c1b 0%,       /* Deepest night/navy */
  #071a2f 20%,      /* Rich spacey blue */
  #0c2b48 40%,      /* Abyss blue */
  #153857 60%,      /* Twilight navy */
  #2a2e43 85%,      /* Smoky dark gray-blue */
  #3f2a45 98%,      /* 2% calm muted purple-magenta */
  #e9d8b4 100%      /* Soft beige star-glow hint */
) ;

    
}
.dark-mode h1 {
    color: var(--color-dark-mode);
}
.dark-mode #sideBarBtn{
    /* color: var(--color-dark-mode) !important; */
    color: white;
}
.dark-mode .step-txt{
    color: var(--color-dark-mode) ;
}
.dark-mode .page-container{
    color: var(--color-dark-mode);
}


.dark-mode .item,
.dark-mode .videos-container a{
    color: whitesmoke;
}
.dark-mode .main-content {
    background-color: rgb(27, 27, 29) !important;
}
