/* Components */
@import url('components/drag-hide.css');
@import url('components/side-bar.css');
@import url('components/items-containers.css');
/* Utities */
@import url('utilities/layout.css');
@import url('utilities/colors.css');
@import url('utilities/sizing.css');
@import url('utilities/position.css');
@import url('utilities/spacing.css');
@import url('utilities/background.css');

@import url('responsive.css');
@import url('dark-mode.css');
:root{
    --bg-color-prime: linear-gradient(to bottom, #0e162b, #192752, #26376c, #34478a);
}
*{
    margin: 0;
    padding: 0;
    /* background-color: lightblue; */
    box-sizing: border-box;
}