.page-container {
    /* margin: 0 5%;     */
}
.masthead-container {
    background-image: url('../../img/shorcut-icon2.png');
    height: 5vh;
}
.content-header img {
    max-height: 150px;
}
.videos-collections-container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid blue;
}
.videos-collection {
    /* display: flex; */
}
.videos-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-container {
    flex-basis: 24%;
    display: inline-block;
    
}

