body > .page-wrapper > .main-content > header {
    background-image: url('../../img/program-shortcut-banner.jpg');
    background-position-y: 20%;
    background-size: 100%;
    background-repeat: no-repeat;
}

input#searchQueryInput:active,
input#searchQueryInput:focus {
    background-color: blue;
}

body > .page-wrapper > .main-content {
    background-color: rgb(175, 185, 184);
}
