.page-wrapper {
  display: flex;
}
.main-landing-page{
  overflow: hidden;
  overflow-y: scroll;
}
main
.main-search-nav {
  display: flex;
  justify-content: flex-end;
}
.items-container{
  display: flex;
}
.items-container > .item {
  display: flex;
  flex-direction: column;
}