h1 {
    font-size: 150%;
}
.page-wrapper > .main-content {
  /* width: auto; */
  width: 100vw;
  height: 100vh;
  width: var(--width-main-content);  
  
}
main > .main-content > header {
    width: 100% ;
    height: 10vh;
}

