
.items-container{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
}
.items-container > .item{
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
}
.items-container > .videos-collection {
    display: flex;
    flex-direction: column;
}

/* .item-container > .item, */
.videos-container {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.videos-container a {
    color: black;
}
.video-container {
    flex-basis: 24%;
    display: inline-block;    
    
}

.items-container img {
    max-width:  150px ;
    max-height: 150px;
}