:root {}

.side-bar .side-bar-ul-container ul>li img,
.side-bar .side-bar-ul-container ul>li i {
  max-width: 30px;
}

.side-bar header>img {
  height: 70%;
  width: 100%;
}

.side-bar {
  border: 1px solid black;
  box-shadow: 0 0 1px 0 whitesmoke;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100vh;
  z-index: 1;
}

.side-bar-ul-container>ul {
  margin-left: 10%;
  /* gap: 2rem; */
  display: flex;
  flex-direction: column;
}

.side-bar-ul-container>ul li {
  list-style-type: none;
}




/* Sidebar link icons and text */


/* ========== MAIN-CONTENT WHEN SIDEBAR IS HIDDEN ========== */
/* ========== SIDEBAR ========== */






.side-bar .side-bar-ul-container ul>li>a {
  display: flex;
  text-decoration: none;
  flex-direction: column;
}

.side-bar .side-bar-ul-container ul>li>ul {
  margin-left: 4%;
}